{% extends "tasks/base.html" %}

{% block welcome %}
<h1>Tasks</h1>
{% endblock %}

{% block content %}
<!-- tasks header -->
<h2 class="sub-header">
  <div>
    <form method="POST" action="{% url 'create' %}">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" name="taskname" class="form-control" autofocus="true" placeholder="Enter a task name" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Create</button>
        </span>
        </div>
    </form>
  </div>
</h2>
{% if tasks %}
<div id="tasks" class="list-group">                                             
  {% for task in tasks %}
  <div class="list-group-item">
    <a href="/tasks/{{ task.id }}/">{{ task.name }}</a>
    <span class="pull-right">
      <a class="btn btn-xs btn-success" href="/tasks/{{ task.id }}/start">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a class="btn btn-xs btn-info" href="/tasks/{{ task.id }}/update">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a class="btn btn-xs btn-warning" href="/tasks/{{ task.id }}/delete">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </span>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-info" role="alert">
  <p>No tasks! Woohoo!</p>
</div>
{% endif %}
{% endblock %}
