{% extends "tasks/base.html" %}

{% block alerts %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
{% endif %}
{% endblock %}

{% block welcome %}
<h1>Welcome to Pymodoro!</h1>
<p>Before you start creating tasks, you'll need to create an account. Click below and start being productive.</p>
<p><a class="btn btn-primary btn-lg" href="{% url 'create_user' %}" role="button">Get Started</a></p>
{% endblock %}
